name: Publish

on:
  push:
    tags: [ 'v*' ]
    branches: [ main ]

concurrency:
  group: ${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  publish:
    runs-on: macos-14
    env:
      ORG_GRADLE_PROJECT_signingInMemoryKey: ${{ secrets.ORG_GRADLE_PROJECT_signingInMemoryKey }}
      ORG_GRADLE_PROJECT_signingInMemoryKeyPassword: ${{ secrets.ORG_GRADLE_PROJECT_signingInMemoryKeyPassword }}
      ORG_GRADLE_PROJECT_mavenCentralPassword: ${{ secrets.ORG_GRADLE_PROJECT_mavenCentralPassword }}
      ORG_GRADLE_PROJECT_mavenCentralUsername: ${{ secrets.ORG_GRADLE_PROJECT_mavenCentralUsername }}
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 11
      - uses: gradle/actions/setup-gradle@v4
      - name: Cache Build files
        uses: actions/cache@v4
        if: ${{ !startsWith(matrix.os, 'windows') }}
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}-v1
      - name: Publish
        run: ./gradlew assemble publishAllPublicationsToMavenCentralRepository

  publish-docs:
    runs-on: ubuntu-latest
    if: startsWith(github.ref, 'refs/tags/v')
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true
          fetch-depth: 0

      - name: Cache Build files
        uses: actions/cache@v4
        with:
          path: |
            ~/.konan
            ~/.gradle
          key: ${{ runner.os }}-${{ hashFiles('gradle.properties') }}

      - name: Configure Git user
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"

      - uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 11
      - uses: gradle/actions/setup-gradle@v4

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.8'
          architecture: x64
          cache: 'pip'
          cache-dependency-path: 'docs/requirements.txt'

      - name: Install Python dependencies
        run: python3 -m pip install -r ./docs/requirements.txt

      - name: Build KDocs
        run: ./gradlew clean dokkaGeneratePublicationHtml

      - name: Move KDoc build
        run: mv build/dokka/html docs/kdoc

      - name: Deploy with mike
        run: |
          VERSION_WITH_V=${{ github.ref_name }}
          VERSION=${VERSION#v}
          echo "VERSION=$VERSION" >> $GITHUB_ENV
          mike deploy --update-aliases --push $VERSION_WITH_V latest
